<ion-view view-title="Add Bet" ng-controller="addbetsCtrl">
    <ion-content>
        <ion-item>
            <div class="item item-input">
                <input focus-me style="font-size: x-large" type="text" ng-model="newbet.title" placeholder="Title of my bet">
            </div>

            <div class="item item-input item-button-right">
                <input type="text" ng-model="newbet.text_option" placeholder="Options" my-enter="addOption()">
                <button class="button button-icon ion-android-add" ng-click="addOption()"></button>
            </div>
            <div class="item">
                <span style="font-size: large">{{"ADDBETS.OPTIONSLIST" | translate }}</span>
                <ion-list ng-repeat="opt in options" show-delete="true">
                    <ion-item>
                        <ion-delete-button class="ion-minus-circled" ng-click="options.splice($index,1)"></ion-delete-button>
                        {{opt}}
                    </ion-item>
                </ion-list>
            </div>

            <ion-item>
                <ion-radio ng-model="type" ng-value="Son">{{"ADDBETS.SURVEY" | translate }}</ion-radio>
                <ion-radio ng-model="type" ng-value="Bet">{{"ADDBETS.BET" | translate }}</ion-radio>
            </ion-item>

            <div class="item">
                De {{newbet.dtStart | date: "HH:mm"}} à {{newbet.dtEnd | date: "HH:mm"}}
                <div class="range">
                    <span class="input-label">Delay</span>
                    <input type="range" ng-model="newbet.delay" value="10" min="0" max="240" step="5" ng-change="getDtEnt()">
                    {{newbet.delay}} minutes
                </div>
            </div>

            <button class="button button-assertive" ng-click="addbet()">Send</button>
        </ion-item>
    </ion-content>
</ion-view>

