<ion-view view-title="Choose en event" ng-controller="addEventCtrl" hide-nav-bar="true">
    <ion-content>
        {{message}}<br>
        <div class="item item-input">
            <!--
            <span class="input-label">{{ 'ADDEVENT.TITLE' | translate }}</span>
                -->
                <input type="text" style="text-align:left;font-size: x-large;"
                       ng-model="event.title" autofocus
                       ng-change="onChangePicture()">

            <button class="button icon-left ion-checkmark button-positive"
                    style="margin-top: 4px;margin-right: 15px;" ng-click="sendEvent()">
                {{'ADDEVENT.SAVE' | translate}}
            </button>
        </div>

        <div class="item" style="text-align: center;">
                <ng-map id="map2" center="[48.0,2.0]" data-tap-disabled="true"></ng-map>
                <button style="display:block;position:absolute;left:10px;top:10px;" class="button button-icon ion-search" ng-click="search()"></button>
        </div>

        <ion-item>
            <label class="item item-input">
                <input id="pac-input" type="text" placeholder="{{'ADDEVENT.ADDRESS' | translate }}"
                       ng-model="event.address" my-enter="searchAddress()"
                        ng-change="onChangePicture()">
            </label>

            <label class="item item-input">
                <span class="input-label">{{'ADDEVENT.START' | translate }}</span>
                <input type="date" ng-model="event.dtStart" ng-change="onChangePicture()">
            </label>

            <div class="item range">
                <span class="input-label">{{'ADDEVENT.APARTIRDE' | translate}}</span>
                <input type="range" max="24" min="0" step="1" ng-model="event.hour">
                &nbsp;{{event.hour}}H
            </div>

            <label class="item item-input">
                <input type="text" placeholder="{{'ADDEVENT.DESCRIPTION' | translate}}" ng-model="event.description" ng-focus="onChangePicture()">
            </label>

            <label class="item item-input">
                <input placeholder="{{'ADDEVENT.PASSWORD' | translate}}" ng-model="event.password" type="text">
            </label>

            <ion-checkbox ng-model="event.needValidate" ng-click="showTutoValidate()">
                {{'ADDEVENT.NEEDVALIDATE' | translate}}
            </ion-checkbox>
        </ion-item>

        <div class="card">
            <div class="item item-divider">
                Flyer
                <imgfiles on-select="getFlyer(photo)"></imgfiles>
            </div>

            <div class="item" ng-show="event.flyer.length>0">
                <table><tr>
                    <td>
                        <img style="display:inline-block;max-width: 200px;max-height: 200px;" ng-src="{{event.flyer}}">
                    </td>
                    <td>
                        <div style="text-align: center;display: inline-block;">
                            <ion-checkbox class="text-left"
                                          ng-model="event.flyer_address"
                                          ng-change="onChangePicture()">Address</ion-checkbox>

                            <ion-checkbox class="text-left"
                                          ng-model="event.flyer_teaser"
                                          ng-change="onChangePicture()">Teaser</ion-checkbox>

                            <ion-checkbox class="text-left"
                                          ng-model="event.flyer_black"
                                          ng-change="onChangePicture()">Black</ion-checkbox>

                            <ion-checkbox class="text-left"
                                          ng-model="event.flyer_horaire"
                                          ng-change="onChangePicture()">Horaire</ion-checkbox>

                        </div>
                    </td>

                </tr></table>

            </div>

        </div>

        <ion-item>
                <ion-title>Advanced</ion-title>

                <label class="item item-input">
                    <input placeholder="{{'ADDEVENT.WEBSITE' | translate}}" ng-model="event.website" type="url">
                </label>

                <div class="item range">
                    <span class="input-label">{{ 'ADDEVENT.SONGSBYDEFAULT' | translate }}</span>
                    <input type="range" min="0" max="30" step="1" ng-model="nsongs">&nbsp;{{nsongs}}
                    &nbsp;{{ 'ADDEVENT.LABELSONG' | translate }}
                </div>

                <div class="item range">
                    <span class="input-label">{{ 'ADDEVENT.DURATION' | translate }}</span>
                    <input type="range" min="0" max="24" step="1" name="volume" ng-model="event.duration" ng-change="onChangePicture()">&nbsp;{{event.duration}}
                </div>

                <div class="item range">
                    <span class="input-label">{{ 'ADDEVENT.VISIBLE' | translate }}</span>
                    <input ng-model="event.minDistance" type="range" max="3000" min="0" step="10">&nbsp;{{event.minDistance/1000}}&nbsp;km
                </div>

                <div class="item range">
                    <span class="input-label">{{ 'ADDEVENT.MAXGUEST' | translate }}</span>
                    <input ng-model="event.maxOnline" type="range" min="0" max="500" step="1">&nbsp;{{event.maxOnline}}&nbsp;personnes
                </div>
            </ion-item>

        <ion-item>
            <ion-title>Activities</ion-title>
            <ion-checkbox ng-repeat="act in activities"
                          ng-model="act.checked"
                          ng-checked="act.checked">
                {{ act.text }}
            </ion-checkbox>
        </ion-item>


        <ion-item>
                <ion-title>Sources</ion-title>
                <ion-checkbox ng-repeat="item in srcList"
                              ng-model="item.checked"
                              ng-checked="item.checked">
                    {{ item.text }}
                </ion-checkbox>
            </ion-item>
        </div>

        <div style="width: 100%;text-align: center">
            <button class="button icon-left ion-checkmark button-positive"
                    style="margin-top: 4px;" ng-click="sendEvent()">
                {{'ADDEVENT.SAVE' | translate}}
            </button>
        </div>


    </ion-content>
    </ion-view>