<html>
<head>
<meta charset="ISO-8859-1">

    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
<title>Pele-Mele</title>
</head>
<body style="background-color:black;border-color: black;">


<!-- Google Tag Manager -->
<iframe src="//www.googletagmanager.com/ns.html?id=GTM-MJBVLV"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJBVLV');</script>
<!-- End Google Tag Manager -->


<script src="../js/Tools.js"></script>
<script src="../js/Main.js"></script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>

<div id="zone_text"></div>

<canvas id="myCanvas"></canvas>

<script>

var dateDemande=0;
var photo_size=getParam()["photo_size"];
var canvas = document.getElementById('myCanvas');
var context = canvas.getContext('2d');
var idEvent=getParam()["event"];
var zones=null;
var x=0,y=0;

document.addEventListener("dblclick", function() {
    var el = document.documentElement;
    var rfs = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen;
    rfs.call(el);
});




function resize(maxsize,data,onEnd){
	var imageObj = new Image();
	imageObj.onload = function() {
		
		var ratio=maxsize/Math.max(imageObj.width,imageObj.height);
			
		var lx=imageObj.width*ratio;
		var ly=imageObj.height*ratio;
        
        if(onEnd)onEnd(imageObj,lx,ly);
      };
      
    if(data.startsWith("http") || data.indexOf(".png")>0)
		imageObj.src = data;
    else
        if(!data.startsWith("data:"))
    	    imageObj.src = "data:image/jpeg;base64," + data;
        else
            imageObj.src = data;
}


function addImage(x,y,maxsize,data,onEnd){    
      resize(maxsize,data,function(imageObj,lx,ly){
    	  context.drawImage(imageObj, x, y,lx,ly);
    	  if(onEnd!=null)onEnd(imageObj.width,imageObj.height);
      });
}


function addPortrait(xx,yy,author,size,onEnd){
	addImage(xx,yy,size,author.photo,function(){
		addImage(xx,yy,size,"cadre.png",function(){
			if(author.photo=="personne.png")addText(context,xx,yy+size+5,"blue",10,author.name);
			context.restore();
			if(onEnd)onEnd();	
		});	
	});
}


function addWall(x,y,message,onEnd){
	var angle=(Math.random()-0.5)*20;
	var ech=photo_size/300;
	
	context.save();
	context.rotate(angle*Math.PI/180);

		if(message.type==0){
			var imgPapier = new Image();
			imgPapier.onload=function(){
				if(message.photo==null){
					var lx=context.measureText(message.text).width+20*ech;
					context.drawImage(imgPapier, 0, 0,70*ech+lx+5,55*ech);
					addText(context,60,25,"black",17*ech,message.text,null,lx);
					//addPortrait(3,3,message.author,40*ech,onEnd);
				} else {
					resize(photo_size*0.75,message.photo,function(imageObj,lx,ly){		
							context.drawImage(imgPapier, x, y,lx+20*ech,ly+58*ech);
							context.drawImage(imageObj, x+10*ech, y+10*ech,lx,ly);
							//addPortrait(4*ech,ly+15*ech,message.author,40*ech,onEnd);
							if( message.text != undefined){
                                addText(context,x+15*ech,y+ly+22*ech,"black",20*ech,message.text,null,photo_size-100*ech);
                            }
                            context.rotate(-angle*Math.PI/180);
                            onEnd();
						});
				}

			};	
			imgPapier.src="/img/papier.png";
		}
}

function getMin(zn){
    var rc=1000;
    for(var i=0;i<zn.length;i++)
        for(var j=0;j<zn[i].length;j++)
            if(zn[i][j]<rc)rc=zn[i][j];

    return rc;
}


function getXY(canvas,func){
    var nb_col=Math.trunc(canvas.width/photo_size)-1;
    var nb_row=Math.trunc(canvas.height/photo_size)-1;
    if(nb_col==0)nb_col=1;
    if(nb_row==0)nb_row=1;

	var p=0;

    if(zones==null){
        zones=new Array(nb_row);
        for(k=0;k<nb_row;k++){
            zones[k]=new Array(nb_col);
            for(var i=0;i<zones[k].length;i++)
                zones[k][i]=0;
        }

    }

    var min=getMin(zones);
    var yy=0;
    var xx=0;
    do{
        yy=Math.trunc(Math.random()*nb_row);
        xx=Math.trunc(Math.random()*nb_col);
    } while (zones[yy][xx]!=min);

	zones[yy][xx]++;
    offset=Math.trunc(Math.random()*photo_size/3)+60;
    func(xx*photo_size+offset,yy*photo_size+offset);
}


function start(){
    window.canvas.width=window.innerWidth-100;
    window.canvas.height=window.innerHeight-50;
    var date=0;

    setInterval(function(){
        var zone_text=document.getElementById("zone_text");

        getMessage(getParam()["event"],date,function(rep){
            if(rep.status!=204){
                photos=rep.result.items;
                var i=0;
                date=new Date();

                function show(index){
                    if(photos[index].dtMessage>date)date=photos[index].dtMessage;
                    getXY(canvas,function(x,y){
                        addWall(x,y,photos[index],function() {
                            if(index+1<photos.length)
                                show(index + 1);
                        });
                    });
                }

                show(0);
            }
        });
    },5000);
}



</script>


</body>
</html>