<html>
<head>
<meta charset="ISO-8859-1">
    <link rel="stylesheet" type="text/css" href="/Leficarbar.css">
    <meta name="viewport" content="width=320">

    <script src="/js/webtorrent.min.js"></script>
    <script src="/js/Tools.js"></script>
    <script src="/js/id3v2.js"></script>
    <script src="/js/Main.js"></script>
    <script src="/js/qrcode.js"></script>
    <script src="MusicPlayer.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>

    <title>Players</title>
</head>

<body>

<!-- Google Tag Manager -->
<iframe src="//www.googletagmanager.com/ns.html?id=GTM-MJBVLV"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJBVLV');</script>
<!-- End Google Tag Manager -->


<div style="text-align: center;">
    <div id="lblMessage"></div>
    <br>
    <div style="width; 100%;text-align: center;">
        <div id="dj" style="display: inline-block; max-width: 300px;">
            <img id="djlogo" src="/img/dj.png">
            <div id="djname" style="position:absolute;left:43%;top:25%;"></div>
        </div>
        <br>
        <div id="players" style="display:inline-block;text-align:center;">
                <table><tr style="text-align: center;">
                    <td><div>player</div></td>
                    <td><div>player</div></td>
                    <td><div>player</div></td>
                    <td><div>player</div></td>
                    <td><div>player</div></td>
                </tr></table>
        </div>
        <br>
        <div style="display: inline-block;">
            <table>
                <tr>
                    <td><a class="mobilebutton" href="javascript:logoutDeezer()">Deezer Account</a></td>
                    <td><a class="mobilebutton" href="javascript:playNextSong()">Next Song</a></td>
                    <td>
                        <div class="image-upload">
                            <label for="fileselector">
                                <a class="mobilebutton">My songs</a>
                                <!-- <img src="/img/home.png" style="width:40px"> -->
                            </label>

                            <input id="fileselector" type="file" name="datafile"  name="file[]"
                                   accept="audio/*" size="40" webkitdirectory mozdirectory
                                   onchange="analyseDirectory(this)">
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

<div id="dz-root"></div>
<div id="playlist"></div>

<br><br>

<script>
    var players = [null,null,null,null,null];
    onLoadFrame=function(elt,k){players[k-1]=elt.contentWindow;};
</script>

</body>
</html>
