<ion-view view-title="Photos">
    <ion-nav-title align-title="left" side="left">
        {{event.title}} Photos
    </ion-nav-title>

    <ion-content>
        <div class="item col-center text-center">
            <camera on-select="getPhoto(photo)"></camera><br>
            {{"PHOTO.TAKEPICTURE" | translate}}
        </div>

        <ion-toggle name="withMessage"
                    ng-model="withMessage.checked"
                    ng-click="updateWithMessage()"
                    toggle-class="toggle-calm">Photos with message</ion-toggle>
        <br>
        <div style="text-align: center">
            <img download style="max-width:80%;max-height:400px" ng-src="{{lastphoto}}" ng-show="lastphoto!=null ">
            <br>
            <div ng-show="lastphoto.anonymous==false">by {{from.firstname}}</div>
            <br>{{message}}
            <br>
            <!--
            <button class="button icon-left ion-android-download button-positive" ng-click="downloadPhotos()">
                {{"PHOTO.DOWNLOAD" | translate}}
            </button>
            -->
        </div>
    </ion-content>
</ion-view>