<ion-view view-title="My Profil">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                {{user.firstname}}
            </div>
            <div class="item item-button-right">
                <div style="margin:0px; display: inline-block; width: 50%">
                    <ion-checkbox style="text-align: left;" ng-model="user.anonymous" ng-click="updateAnonymous()">
                        <span style="font-size: medium;">{{'PROFIL.ANONYMOUS' | translate}}</span>
                    </ion-checkbox>
                </div>

                <button class="button button-small icon-left ion-power button-dark"
                        style="margin-top: 15px;"
                        ng-click="quitEvent()">
                    <span style="font-size: small">{{'PROFIL.QUIT_EVENT' | translate}}</span>
                </button>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Master of Ceremony
            </div>
            <div class="item" style="text-align: center">
                <button ng-show="user.id==event.owner.id"
                        class="button icon-left ion-android-delete button-assertive"
                        ng-click="closeEvent()">{{'PROFIL.CLOSE_EVENT' | translate}}</button>
            </div>
            <div class="item" style="text-align: center">
                <ion-list ng-show="user.id==event.owner.id">
                    <ion-item ng-repeat="link in links" ng-click="openLink(link)">
                        <h3>{{link.title}}</h3><span style="font-size: xx-small">{{link.description}}</span>
                    </ion-item>
                </ion-list>
            </div>

        </div>


    </ion-content>
</ion-view>