<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=340">

    <script src="/js/Tools.js"></script>
    <script src="/js/Main.js"></script>
    <script src="/js/labels.js" charset="UTF-8"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>

    <title>Classement</title>
</head>

<body style="background-color:black;border-color: black;color: white;">

<div style="text-align: center;width: 100%">
    <div id="title" style="font-size: x-large;"></div><br>
    <div id="clock" style="font-size: xx-large;"></div>
    <div id="zone"></div>
</div>

<script>
function showClassement(idEvent,zone){
    getClassement(idEvent,function(rep){
        if(rep.result.items.length>0){
            var rc="<table style='width:100%;margin: 10px;padding: 10px;'>";
            rep.result.items.forEach(function(user) {
                var profil="><br>"+user.firstname+"</div>";
                rc += "<tr><td><img style='border-color: white;border-style: solid;' src='"+user.picture+"'></td>";
                rc += "<td><span style='font-size: x-large'>"+user.firstname+"</span></td>";
                rc += "<td><span style='font-size: xx-large;'>" + user.scoreEvent + "</span> pts<br></td>";
                rc += "</tr>";
            });
            zone.innerHTML=rc+"</table>";
        }
    });
}

function start(){
    initGlobal();
    showClassement(getParam()["event"],$("zone"));

    startFullScreen();

    setInterval(function(){
        showClassement(getParam()["event"],$("zone"));
    },20000);

    setInterval(function(){
        initGlobal();
        if(myevent==null)
            location.href="/Views/winners.html?event="+getParam()["event"];
        else{
            var delay=myevent.dtEnd-new Date().getTime();
            var affichage =new Date(delay).toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");
            $("clock").innerHTML=affichage;
            $("title").innerHTML=myevent.title;
        }
    },1000);

    tuto(user,"PUBLICCHART.TUTO");
}
</script>

</body>
</html>