<div id="dz-root"></div>
<ion-view view-title="Search">
    <ion-nav-title align-title="left" side="left">
        Search your song
    </ion-nav-title>

   <ion-content ng-controller="SearchCtrl">

       <ion-nav-buttons side="right">
           <button class="button button-positive" ng-click="viewCharts()">Charts</button>
       </ion-nav-buttons>

       <div class="item item-input">
           <label class="item-input-wrapper">
               <input focus-me type="search" ng-model="query.value" placeholder="Search artist, song title"
                      ng-change="clearSearch()" focus-me my-enter="search()">
           </label>

           <button ng-show="query.value.length>0"
                   class="button icon-left ion-search button-positive"
                   ng-click="search()">Search</button>
       </div>

      <div class="list">
           <div class="item" ng-repeat="song in songs | orderBy: order" ng-click="add({{song}})">
               <img width="16" src="img/deazer.jpg" ng-show="song.origin==1">
               <img width="16" src="img/youtube.png" ng-show="song.origin==4">
               <img width="16" src="img/local.svg" ng-show="song.origin==3">
               {{song.title}} - {{song.author}} |
           </div>
       </div>
    </ion-content>
</ion-view>