<style>
    map, div[map] {
        display:block; width: 50%; height: 200px
    }
</style>

<ion-view view-title="{{user.firstname}}, {{'SELEVENT.WELCOME' | translate}}" ng-controller="selEventCtrl" hide-nav-bar="true">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-button-right">
                Profil
                <button class="button button-icon ion-power"
                        style="padding-bottom: 15px;"
                        ng-click="logout()">
                    <!--
                    <span style="font-size: small;">{{'SELEVENT.LOGOUT' | translate}}</span>
                    -->
                </button>
            </div>
            <div class="item item-avatar item-button-right">
                <img ng-src="{{user.picture}}" ng-click="openfacebook()">
                <span style="font-size: large;">{{user.firstname}}&nbsp;</span><br>
                <span style="font-size: small">{{user.score}}&nbsp;pts</span>
                <button class="button button-positive" style="margin-top: 10px;" ng-click="addEvent()">
                    {{'SELEVENT.CREATE' | translate}}
                </button>
            </div>
        </div>
        <div class="card" ng-show="facebook_events.length>0">
            <div class="item item-divider">
                Your facebook events<br>
            </div>

            <ion-item ng-repeat="evt in facebook_events" ng-click="createFacebookEvent(evt)">
                {{evt.name}}
            </ion-item>

        </div>

        <div class="item" style="text-align: center;">
            <ng-map center="[48.0,2.0]" data-tap-disabled="true"></ng-map>
            <button style="display: block;position: absolute;left: 30px;top: 30px;" class="button button-small button-positive" ng-click="centerOnLoc()">
                {{'SELEVENT.LOCALISE' | translate}}
            </button>
        </div>

            <div class="card" ng-show="preview.title.length>0">
                <div class="item item-divider">
                    {{preview.title}}
                </div>
                <div class="item item-button-right" style="text-align: center">
                    <img style="max-width: 150px;" ng-src="{{preview.flyer}}" ng-show="preview.flyer.length>0"><br>
                    {{preview.description}}
                    {{message}}
                    <button class="button button-small button-positive" ng-show="preview.title!=null" ng-click="joinEvent(preview)">Join !</button>

                </div>
            </div>

        <div class="card">
            <div class="item item-divider">
                {{'SELEVENT.MYEVENTS' | translate}}
            </div>
            <ion-list show-delete="shouldShowDelete">
                <ion-item ng-repeat="evt in myevents" class="item-thumbnail-left">>
                    {{evt.title}}

                    <ion-delete-button
                            class="ion-minus-circled"
                            ng-click="delEvent(evt)">
                    </ion-delete-button>

                </ion-item>
            </ion-list>>
        </div>


    </ion-content>
</ion-view>