<html>
<head>
<meta charset="ISO-8859-1">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../Leficarbar.css">
    <script src="/js/Tools.js"></script>
    <script src="/js/Main.js"></script>
    <script src="/js/swipe.js"></script>
    <script src="/js/qrcode.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>


    <style type="text/css">
h1 {
	color:white;
	font-family:"Indie Flower" cursive;
}
</style>
<title>SlideShow</title>
    <script src="../js/Main.js"></script>
</head>

<body style="background-color:black">
<!-- Google Tag Manager -->
<iframe src="//www.googletagmanager.com/ns.html?id=GTM-MJBVLV"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJBVLV');</script>
<!-- End Google Tag Manager -->



 <br>
<br>
 <div id="promo" style="width:100%;text-align: center;">
     <h1> Flasher ce code pour choisir votre musique et poster vos photos</h1>
 <div id="qrcode" style="width:400px;height:400px;border: double white;display: inline-block; "></div>
 </div>

     <div id='slider' class='swipe'>
  <div id="slides" class='swipe-wrap'>
  </div>
</div>
 
<script>
var delay=getParam()["delay"];
var idEvent=getParam()["event"];

addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});


function RefreshSlideshow(){
	var div = document.getElementById("slides");
	div.innerHTML="";
    if(delay==null)delay=10000;
    slideshow(delay,idEvent,function(rep){
        if(rep.status==204){
            location.href="/Views/winners.html?event="+getParam()["event"];
        }
        if(rep.result.items==undefined || rep.result.items.length==0){
            shorturl(DOMAIN+"/index.html?event="+idEvent,function(short){
                new QRCode(document.getElementById("qrcode"), {
                    text: short.result.id,
                    width: 400,
                    height: 400,
                    correctLevel : QRCode.CorrectLevel.H
                });
            });
            setTimeout(function(){location.reload();},10000);
        }else{
            document.body.removeChild(document.getElementById("promo"));
            rep.result.items.forEach(function(message){
                var newLI = document.createElement("div");
                var code="<img style='height:90%;width=auto;border-style:solid;border-color:white;' src='"+message.photo+"'/>";
                if(message.text!=null)code+="<br><span style='font:20px Architects Daughter;color:#ffffff;'>"+message.text+"</span>";
                newLI.innerHTML=code;

                newLI.style.width=window.innerWidth-10;
                newLI.style.height=window.innerHeight-30;

                newLI.align="center";
                newLI.verticalAlign="middle";
                div.appendChild(newLI);
            });

            window.mySwipe = new Swipe(document.getElementById('slider'), {
                startSlide: 0,
                speed: 400,
                auto: 3000,
                continuous: true,
                disableScroll: true,
                stopPropagation: false,
                callback: function(index, elem) {},
                transitionEnd: function(index, elem) {}
            });
        }
	});
}

/**
 * 
 */
function start(){
	RefreshSlideshow();
	setInterval(function(){
		window.location.reload();
	},60000);
	
 startFullScreen();
}
</script>

</body>
</html>