<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Music" icon-on="ion-android-list" icon-off="ion-android-list" ui-sref="tabs.home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Photos" icon-on="icon ion-camera" icon-off="icon ion-camera" ui-sref="tabs.photos">
        <ion-nav-view name="photos-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Invite" icon-on="icon ion-android-share-alt" icon-off="icon ion-android-share-alt" ui-sref="tabs.invite">
        <ion-nav-view name="invite-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Charts" icon-on="ion-ios-cog" icon-off="ion-ios-cog" ui-sref="tabs.charts">
        <ion-nav-view name="charts-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Profil" icon-on="ion-home" icon-off="ion-home" ui-sref="tabs.profil">
        <ion-nav-view name="profil-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>

